{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block response %}
    {% if response %}
        {% if response.err %}
            <div class="alert alert-danger" role="alert">
        {% endif %}
        {% if not response.err %}
            <div class="alert alert-success" role="alert">
        {% endif %}
        {{ response.msg }}
        {% if response.req %}
            <br>
            {{ response.req }}
        {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block contenido %}
    <form method="post" >
    {% csrf_token %}
    {{ form|crispy }}
        <div style="text-align:center;">
            <button type="submit"  class="btn btn-success">Analyze</button>
        </div>
    </form>

    <script>
    $(document).ready(function(){
        if($("#id_analysis_operation").val() === "isFalseOptional" ||
                $("#id_analysis_operation").val() === "isDeadParameter"){
                    $("#div_id_parameter").show();
                } else{
                    $("#id_parameter").val(null);
                    $("#div_id_parameter").hide();
                }
        if($("#id_analysis_operation").val() === "isValidPartialRequest" ||
                $("#id_analysis_operation").val() === "isValidRequest"){
                    $("#div_id_request").show();
                } else{
                    $("#id_request").val(null);
                    $("#div_id_request").hide();
                }
        $("#id_analysis_operation").change(function(){
                if($("#id_analysis_operation").val() === "isValidPartialRequest" ||
                $("#id_analysis_operation").val() === "isValidRequest"){
                    $("#div_id_request").show();
                } else{
                    $("#id_request").val(null);
                    $("#div_id_request").hide();
                }
            });
        $("#id_analysis_operation").change(function(){
                if($("#id_analysis_operation").val() === "isFalseOptional" ||
                $("#id_analysis_operation").val() === "isDeadParameter"){
                    $("#div_id_parameter").show();
                } else{
                    $("#id_parameter").val(null);
                    $("#div_id_parameter").hide();
                }
            });
    });
    </script>
{% endblock %}
